body{
    background: url(https://images.unsplash.com/photo-1584982751601-97dcc096659c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.time{
    margin-top: 125px;
    margin-right: 100px;
    float: right;
}

input{
    margin-bottom: 19px;
}

.next{
    margin-top:  300px;
    margin-left: 125px;
    width: 100px;
}

.login{
    margin-right: 0;
    float: right;
}

.check{
    margin-left: 125px;
}

.timechk{
    margin-bottom: 19px;
}